<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-3 custom-border">
        <div class="col-10">
          <div class="profile-img">
            <img src="assets/img/doctor_1.jpg" alt="doctor-1">
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Name: </label>
            <div>Dr. Carl Smith</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Graduation year: </label>
            <div>2001</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Experience: </label>
            <div>Fellowship from Cambridge university in London</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Department: </label>
            <div>Pediatrics</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Specialization: </label>
            <div>Ortho</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
