

<div class="body-background body-background--image">


  <img src="assets/img/banner-bg.jpg" alt="12 Best Hospital and Healthcare Websites.jpg" rel="noshare">

</div>

<!--<section class="section bg-light">-->
<!--  <div class="container">-->
<!--    <div class="row ">-->
<!--      <div class="col-md-8 text-center mb-5">-->
<!--        <h2 class="text-uppercase heading border-bottom mb-4">The Hospital Doctors</h2>-->
<!--        <p class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_1.jpg" alt="doctor-1">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Carl Smith</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Janice Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Jean Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Jessica Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Carl Smith</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Janice Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; END slider &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--Doctor-->
<!--///////////////////////////////-->
<!--News-->
<!--<section class="home-slider inner-page owl-carousel">-->
<!--  <div class="slider-item" style="background-image: url('img/slider-2.jpg');">-->

<!--    <div class="container">-->
<!--      <div class="row slider-text align-items-center">-->
<!--        <div class="col-md-7 col-sm-12 element-animate">-->
<!--          <h1>News &amp; Events</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--</section>-->
<!-- END slider -->


<!--<section class="section bg-light">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-4 ">-->
<!--        <div class="media d-block media-custom text-left">-->
<!--          <img src="assets/img/img_thumb_1.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--          <div class="media-body">-->
<!--            <span class="meta-post">December 2, 2017</span>-->
<!--            <h3 class="mt-0 text-black"><a href="#" class="text-black">Lorem ipsum dolor sit amet elit</a></h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p class="clearfix">-->
<!--              <a href="#" class="float-left">Read more</a>-->
<!--              <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="media d-block media-custom text-left">-->
<!--          <img src="assets/img/img_thumb_2.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--          <div class="media-body">-->
<!--            <span class="meta-post">December 2, 2017</span>-->
<!--            <h3 class="mt-0 text-black"><a href="#" class="text-black">Lorem ipsum dolor sit amet elit</a></h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p class="clearfix">-->
<!--              <a href="#" class="float-left">Read more</a>-->
<!--              <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="media d-block media-custom text-left">-->
<!--          <img src="assets/img/img_thumb_3.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--          <div class="media-body">-->
<!--            <span class="meta-post">December 2, 2017</span>-->
<!--            <h3 class="mt-0 text-black"><a href="#" class="text-black">Lorem ipsum dolor sit amet elit</a></h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p class="clearfix">-->
<!--              <a href="#" class="float-left">Read more</a>-->
<!--              <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row mb-5">-->
<!--      <div class="col-md-4">-->
<!--        <div class="media d-block media-custom text-left">-->
<!--          <img src="assets/img/img_thumb_1.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--          <div class="media-body">-->
<!--            <span class="meta-post">December 2, 2017</span>-->
<!--            <h3 class="mt-0 text-black"><a href="#" class="text-black">Lorem ipsum dolor sit amet elit</a></h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p class="clearfix">-->
<!--              <a href="#" class="float-left">Read more</a>-->
<!--              <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="media d-block media-custom text-left">-->
<!--          <img src="assets/img/img_thumb_2.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--          <div class="media-body">-->
<!--            <span class="meta-post">December 2, 2017</span>-->
<!--            <h3 class="mt-0 text-black"><a href="#" class="text-black">Lorem ipsum dolor sit amet elit</a></h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p class="clearfix">-->
<!--              <a href="#" class="float-left">Read more</a>-->
<!--              <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="media d-block media-custom text-left">-->
<!--          <img src="assets/img/img_thumb_3.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--          <div class="media-body">-->
<!--            <span class="meta-post">December 2, 2017</span>-->
<!--            <h3 class="mt-0 text-black"><a href="#" class="text-black">Lorem ipsum dolor sit amet elit</a></h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p class="clearfix">-->
<!--              <a href="#" class="float-left">Read more</a>-->
<!--              <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--      <div class="col-md-5">-->
<!--        <nav aria-label="Page navigation example">-->
<!--          <ul class="pagination">-->
<!--            <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--            <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">4</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">5</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<a href="#" class="cta-link element-animate" data-toggle="modal" data-target="#modalAppointment">-->
<!--  <span class="sub-heading">Ready to Visit?</span>-->
<!--  <span class="heading">Make an Appointment</span>-->
<!--</a>-->
<!--&lt;!&ndash; END cta-link &ndash;&gt;-->

<!--///////////////////////////-->
<!--Doc-->
<!--<section class="home-slider owl-carousel">-->
<!--  <div class="slider-item" style="background-image: url('../frontend/src/assets/img/slider-2.jpg');">-->

<!--    <div class="container">-->
<!--      <div class="row slider-text align-items-center">-->
<!--        <div class="col-md-7 col-sm-12 element-animate">-->
<!--          <h1>We Care For You</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--  <div class="slider-item" style="background-image: url('../frontend/src/assets/img/slider-1.jpg');">-->
<!--    <div class="container">-->
<!--      <div class="row slider-text align-items-center">-->
<!--        <div class="col-md-7 col-sm-12 element-animate">-->
<!--          <h1>We Provide Health Care Solutions</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--</section>-->
<!--<section class="home-slider inner-page owl-carousel">-->
<!--  <div class="slider-item" style="background-image: url('img/slider-2.jpg');">-->

<!--    <div class="container">-->
<!--      <div class="row slider-text align-items-center">-->
<!--        <div class="col-md-7 col-sm-12 element-animate">-->
<!--          <h1>Doctors</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--</section>-->
<section >
  <a href="#" class="cta-link" data-toggle="modal" data-target="#modalAppointment">
    <!--    <span class="sub-heading">Ready to Visit Our Hospital?</span>-->
    <!--    <p class="mb-5">This Is Our Address</p>-->
    <span class="heading">Doctors</span>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>

  </a>

</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <form action="#">
          <label for="search-doctor">Search Doctors</label>
          <div class="input-group input-group-lg">
            <input type="text" id="search-doctor" class="form-control" placeholder="Search for..." aria-label="Search for...">
            <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Go!</button>
                </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Carl Smith</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Janice Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Jean Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Jessica Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Carl Smith</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Janice Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Jean Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Jessica Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Carl Smith</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Janice Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Jean Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media d-block media-custom text-center">
          <img src="assets/img/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">
          <div class="media-body">
            <h3 class="mt-0 text-black">Dr. Jessica Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</section>

<!--<a href="#" class="cta-link" data-toggle="modal" data-target="#modalAppointment">-->
<!--  <span class="sub-heading">Ready to Visit Our Hospital?</span>-->
<!--  <p class="mb-5">This Is Our Address</p>-->
<!--  <span class="heading">134 Street Name, City Name Here, United States</span>-->
<!--</a>-->
<!-- END cta-link -->
<!--////////////////////////////-->
<!--contact-->

<!--<section >-->
<!--  <a href="#" class="cta-link" data-toggle="modal" data-target="#modalAppointment">-->
<!--&lt;!&ndash;    <span class="sub-heading">Ready to Visit Our Hospital?</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="mb-5">This Is Our Address</p>&ndash;&gt;-->
<!--    <span class="heading">Contact Us</span>-->
<!--  </a>-->

<!--</section>-->
<!--&lt;!&ndash; END slider &ndash;&gt;-->


<!--<section class="section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 mb-5">-->
<!--        <form action="#" method="post">-->
<!--          <div class="row">-->
<!--            <div class="col-md-6 form-group">-->
<!--              <label for="fname">First Name</label>-->
<!--              <input type="text" class="form-control form-control-lg" id="fname">-->
<!--            </div>-->
<!--            <div class="col-md-6 form-group">-->
<!--              <label for="lname">Last Name</label>-->
<!--              <input type="text" class="form-control form-control-lg" id="lname">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-md-12 form-group">-->
<!--              <label for="email">Email</label>-->
<!--              <input type="email" id="email" class="form-control form-control-lg">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-md-12 form-group">-->
<!--              <label for="message">Write Message</label>-->
<!--              <textarea name="message" id="message" class="form-control form-control-lg" cols="30" rows="8"></textarea>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-md-6 form-group">-->
<!--              <input type="submit" value="Send Message" class="btn btn-primary btn-lg btn-block">-->
<!--            </div>-->

<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="col-md-1"></div>-->
<!--      <div class="col-md-5">-->

<!--        <h5 class="text-uppercase mb-3">Address</h5>-->
<!--        <p class="mb-5">98 West 21th Street, <br> Suite 721 <br> New York NY 10016</p>-->

<!--        <h5 class="text-uppercase mb-3">Email Us At</h5>-->
<!--        <p class="mb-5"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a> <br> <a href="mailto:customer@yourdomain.com">customer@yourdomain.com</a></p>-->

<!--        <h5 class="text-uppercase mb-3">Call Us</h5>-->
<!--        <p class="mb-5">Phone: (+1) 435 3533 <br> Mobile: (+1) 435 3533 <br> Fax: (+1) 435 3534</p>-->


<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->



<!--<a href="#" class="cta-link" data-toggle="modal" data-target="#modalAppointment">-->
<!--  <span class="sub-heading">Ready to Visit Our Hospital?</span>-->
<!--  <p class="mb-5">This Is Our Address</p>-->
<!--  <span class="heading">134 Street Name, City Name Here, United States</span>-->
<!--</a>-->
<!-- END cta-link -->
<!--/////////////////////////////////////////-->
<!--Services-->
<!--<section >-->
<!--  <a href="#" class="cta-link" data-toggle="modal" data-target="#modalAppointment">-->
<!--&lt;!&ndash;    <span class="sub-heading">Ready to Visit Our Hospital?</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="mb-5">This Is Our Address</p>&ndash;&gt;-->
<!--    <span class="heading">Services</span>-->
<!--    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->

<!--  </a>-->

<!--</section>-->
<!--&lt;!&ndash; END slider &ndash;&gt;-->

<!--<section class="section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-hospital"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Amenities</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-first-aid-kit"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Medical Services</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-hospital-bed"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Patient Services</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-doctor"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Expert Doctors</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; END row &ndash;&gt;-->
<!--    <div class="row">-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-stethoscope"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Expert Physicians</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-heart-rate"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Heart Center</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-liver"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Liver Implant Expert</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-syringe"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Vaccinations</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; END row &ndash;&gt;-->
<!--    <div class="row">-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-ear"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Ear and Mouth</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-dna"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">DNA Test</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-doctor-1"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Friendly Doctors</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="media d-block media-feature text-center mb-5">-->
<!--          <span class="icon flaticon-microscope"></span>-->
<!--          <div class="media-body">-->
<!--            <h3 class="mt-0 text-black">Microscopic Experts</h3>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; END row &ndash;&gt;-->
<!--  </div>-->
<!--</section>-->
<!--&lt;!&ndash; END section &ndash;&gt;-->

<!--<section class="section bg-light custom-tabs">-->
<!--  <div class="container">-->
<!--    <div class="row">-->

<!--      <div class="col-md-4 border-right">-->
<!--        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">-->
<!--          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span>01</span> Amenities</a>-->
<!--          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span>02</span> Medical Services</a>-->
<!--          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>03</span> Patient Services</a>-->
<!--          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span>04</span> Expert Doctors</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-1"></div>-->
<!--      <div class="col-md-7">-->

<!--        <div class="tab-content" id="v-pills-tabContent">-->
<!--          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">-->
<!--            <span class="icon flaticon-hospital"></span>-->
<!--            <h2 class="text-primary">Amenities</h2>-->
<!--            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>-->
<!--            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>-->
<!--            <p><a href="#" class="btn btn-primary">Learn More</a></p>-->
<!--          </div>-->
<!--          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">-->
<!--            <span class="icon flaticon-first-aid-kit"></span>-->
<!--            <h2 class="text-primary">Medical Services</h2>-->
<!--            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>-->
<!--            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>-->
<!--            <p><a href="#" class="btn btn-primary">Learn More</a></p>-->
<!--          </div>-->
<!--          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">-->
<!--            <span class="icon flaticon-hospital-bed"></span>-->
<!--            <h2 class="text-primary">Patient Services</h2>-->
<!--            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>-->
<!--            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>-->
<!--            <p><a href="#" class="btn btn-primary">Learn More</a></p>-->
<!--          </div>-->
<!--          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">-->
<!--            <span class="icon flaticon-doctor"></span>-->
<!--            <h2 class="text-primary">Expert Doctors</h2>-->
<!--            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>-->
<!--            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>-->
<!--            <p><a href="#" class="btn btn-primary">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--&lt;!&ndash; END section &ndash;&gt;-->

<!--<a href="#" class="cta-link" data-toggle="modal" data-target="#modalAppointment">-->
<!--  <span class="sub-heading">Ready to Visit Our Hospital?</span>-->
<!--  <p class="mb-5">This Is Our Address</p>-->
<!--  <span class="heading">134 Street Name, City Name Here, United States</span>-->
<!--</a>-->

<!-- END cta-link -->
<!--////////////////////////////////////-->
<!--about-->
<!--<section class="home-slider inner-page owl-carousel">-->
<!--  <div class="slider-item" style="background-image: url('img/slider-2.jpg');">-->

<!--    <div class="container">-->
<!--      <div class="row slider-text align-items-center">-->
<!--        <div class="col-md-7 col-sm-12 element-animate">-->
<!--          <h1>About Us</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--</section>-->
<!--<section >-->
<!--  <a href="#" class="cta-link" data-toggle="modal" data-target="#modalAppointment">-->
<!--    &lt;!&ndash;    <span class="sub-heading">Ready to Visit Our Hospital?</span>&ndash;&gt;-->
<!--    &lt;!&ndash;    <p class="mb-5">This Is Our Address</p>&ndash;&gt;-->
<!--    <span class="heading">About Us</span>-->
<!--    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->

<!--  </a>-->

<!--</section>-->
<!--&lt;!&ndash; END slider &ndash;&gt;-->


<!--<section class="section bg-light custom-tabs">-->
<!--  <div class="container">-->
<!--    <div class="row">-->

<!--      <div class="col-md-4 border-right" data-animate-effect="fadeInLeft">-->
<!--        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">-->
<!--          <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span>01</span> Amenities</a>-->
<!--          <a class="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span>02</span> Medical Services</a>-->
<!--          <a class="nav-link" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>03</span> Patient Services</a>-->
<!--          <a class="nav-link" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span>04</span> Expert Doctors</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-1"></div>-->
<!--      <div class="col-md-7" data-animate-effect="fadeInLeft">-->

<!--        <div class="tab-content">-->
<!--          <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="v-pills-home-tab">-->
<!--            <span class="icon flaticon-hospital"></span>-->
<!--            <h2 class="text-primary">Amenities</h2>-->
<!--            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>-->
<!--            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>-->
<!--            <p><a href="#" class="btn btn-primary">Learn More</a></p>-->
<!--          </div>-->
<!--          <div class="tab-pane fade" role="tabpanel" aria-labelledby="v-pills-profile-tab">-->
<!--            <span class="icon flaticon-first-aid-kit"></span>-->
<!--            <h2 class="text-primary">Medical Services</h2>-->
<!--            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>-->
<!--            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>-->
<!--            <p><a href="#" class="btn btn-primary">Learn More</a></p>-->
<!--          </div>-->
<!--          <div class="tab-pane fade" role="tabpanel" aria-labelledby="v-pills-messages-tab">-->
<!--            <span class="icon flaticon-hospital-bed"></span>-->
<!--            <h2 class="text-primary">Patient Services</h2>-->
<!--            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>-->
<!--            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>-->
<!--            <p><a href="#" class="btn btn-primary">Learn More</a></p>-->
<!--          </div>-->
<!--          <div class="tab-pane fade" role="tabpanel" aria-labelledby="v-pills-settings-tab">-->
<!--            <span class="icon flaticon-doctor"></span>-->
<!--            <h2 class="text-primary">Expert Doctors</h2>-->
<!--            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>-->
<!--            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>-->
<!--            <p><a href="#" class="btn btn-primary">Learn More</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--&lt;!&ndash; END section &ndash;&gt;-->

<!--<section class="section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        <img src="assets/img/img_1.jpg" class="img-fluid mb-4" alt="Image placeholder">-->
<!--      </div>-->
<!--      <div class="col-md-1"></div>-->
<!--      <div class="col-md-5">-->
<!--        <h2 class="text-uppercase mb-4">Hospital History</h2>-->
<!--        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>-->
<!--        <p class="mb-5">Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>-->
<!--        <p><a href="#" class="btn btn-primary">Get In Touch</a></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<section class="section bg-light">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center mb-5">-->
<!--      <div class="col-md-8 text-center mb-5">-->
<!--        <h2 class="text-uppercase heading border-bottom mb-4">Our Doctors</h2>-->
<!--        <p class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="major-caousel js-carousel-1 owl-carousel">-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Carl Smith</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Janice Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Jean Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Jessica Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_1.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Carl Smith</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_2.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Janice Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_3.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Jean Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="media d-block media-custom text-center">-->
<!--            <img src="assets/img/doctor_4.jpg" alt="Image Placeholder" class="img-fluid">-->
<!--            <div class="media-body">-->
<!--              <h3 class="mt-0 text-black">Dr. Jessica Doe</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--              <p>-->
<!--                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>-->
<!--                <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; END slider &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--&lt;!&ndash; END section &ndash;&gt;-->

<!--<a href="#" class="cta-link" data-toggle="modal" data-target="#modalAppointment">-->
<!--  <span class="sub-heading">Ready to Visit Our Hospital?</span>-->
<!--  <p class="mb-5">This Is Our Address</p>-->
<!--  <span class="heading">134 Street Name, City Name Here, United States</span>-->
<!--</a>-->
<!--&lt;!&ndash; END cta-link &ndash;&gt;-->
