<section class="section bg-light">
  <div class="container details-padding">
    <div class="row">
      <div class="col-3 custom-border">
        <div class="col-10">
          <div class="profile-img">
            <img src="assets/img/doctor_1.jpg" alt="doctor-1">
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Name: </label>
            <div>Mr. Patient</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Age: </label>
            <div>23</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Coming Date: </label>
            <div>2019-2-21</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Status: </label>
            <div>Good</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Doctor: </label>
            <div>Dr. Carl Smith</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container diagnosis-padding">
    <div class="row">
      <div class="col-9">
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Diagnosis: </label>
            <div>Heart Attack</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center mr-5">
            <label class="col-form-label">Medicine: </label>
            <div>Rivo</div>
          </div>
          <div class="two-col d-flex align-items-center ml-5">
            <label class="col-form-label">Usage: </label>
            <div>2 Tabs - Twice a day</div>
          </div>
        </div>
      </div>
      <div class="col-3" hidden>
        <button class="btn btn-primary btn-lg">
          More Details
        </button>
      </div>
    </div>
  </div>
</section>
