.section {
  padding-bottom: 2rem;
}

.details-padding {
  padding: 7rem 2rem 2rem;
}

.diagnosis-padding {
  padding: 2rem 3rem;
}

img {
  width: 100%;
}

.custom-border {
  border-right: 1px #283E56 solid;
}

.col-form-label {
  font-weight: bold;
  margin-right: 10px;
}

.btn {
  margin-top: 10%;
}
