<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Patient Details</div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Name: </label>
            <label value="Aya"> </label>
          </div>
          <div class="col-md-6">
            <label>Age: </label>
            <label value="23"> </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Coming Date: </label>
            <label value="2019-2-21"> </label>
          </div>
          <div class="col-md-6">
            <label>Status: </label>
            <label value="good"> </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Doctor: </label>
            <label value="Abd Allah"> </label>
          </div>
        </div>

    </div>
    </div>
  </div>
</div>
