<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<style>
  h2{text-align:center;}
</style>
<div class="content">
  <div class="container-fluid">
    <!--<h2 class="page-title ">USERS FORM</h2>-->

    <div class="mt-3 mb-3 row">
      <div class="offset-3 col-md-6">
        <div class="card">

          <div class="card-header">
            <div class="card-title">DOCTOR DETAILS</div>
          </div>

          <div class="card-body">
            <form [formGroup]="formData">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="department">Department</label>
                    <input type="text" class="form-control input-square" id="department"
                           formControlName="department">
                    <!--placeholder="First Name">-->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="text" class="form-control input-square" id="mobile"
                           formControlName="mobile" >
                    <!--placeholder="Last Name">-->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="specialization">Specialization</label>
                    <select class="form-control input-square" id="specialization"
                            formControlName="specialization">
                      <!--<option>Dermatologists </option>-->
                      <!--<option>Emergency Medicine Specialists</option>-->
                      <!--<option>Gastroenterologists </option>-->
                      <option>Allergist (immunologist)</option>
                      <!--<option>Anesthesiologist. </option>-->
                      <!--<option>Addiction psychiatrist</option>-->
                      <option>Cardiologist </option>
                      <!--<option>Colon and rectal surgeon</option>-->
                      <option>Anesthesiologist</option>
                      <!--<option>Cardiovascular surgeon</option>-->
                      <!--<option>Adolescent medicine specialist</option>-->
                      <!--<option>Cardiac electrophysiologist</option>-->
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="grade_year">Graduation Year</label>
                    <input type="text" class="form-control input-square" id="grade_year"
                           formControlName="grade_year">
                    <!--placeholder="User Name">-->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control input-square" id="email"
                           formControlName="email" >
                    <!--placeholder="Password">-->
                  </div>
                </div>
                <!--<div class="col-md-6">-->
                  <!--<div class="form-group">-->
                    <!--<label for="personal_pic">Personal Picture</label>-->
                    <!--<input type="text" class="form-control input-square" id="personal_pic"-->
                           <!--formControlName="personal_pic">-->
                    <!--&lt;!&ndash;placeholder="Confirm Password">&ndash;&gt;-->
                  <!--</div>-->
                <!--</div>-->
              </div>

            </form>
          </div>

          <div class="card-action">
            <button class="btn btn-success pull-right mb-2 ml-5 mr-5 " (click)="submit()">Submit</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
