/*.intro-content h2 {*/
/*  margin-bottom: 10px;*/
/*}*/

/*h1.h-ultra, h2.h-ultra, h3.h-ultra, h4.h-ultra, h5.h-ultra, h6.h-ultra {*/
/*  font-weight: 900;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
/*  margin: 0 0 30px;*/
/*  font-family: 'Roboto', sans-serif;*/
/*  font-weight: 400;*/
/*  color: #444;*/
/*  line-height: 1em;*/
/*}*/

/*h2 {*/
/*  font-size: 36px;*/
/*}*/


/*.fa {*/
/*  display: inline-block;*/
/*  font: normal normal normal 14px/1 FontAwesome;*/
/*  font-size: inherit;*/
/*  text-rendering: auto;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*.fa-check:before {*/
/*  content: "\f00c";*/
/*}*/

/*:before, :after {*/
/*  -webkit-box-sizing: border-box;*/
/*  -moz-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/

/*.fa-2x {*/
/*  font-size: 2em;*/
/*}*/

/*.icon-success {*/
/*  color: #7db53b;*/
/*}*/

/*.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {*/
/*  display: block;*/
/*  max-width: 100%;*/
/*  height: auto;*/
/*}*/
/*img {*/
/*  vertical-align: middle;*/
/*}*/
/*img {*/
/*  border: 0;*/
/*}*/
/*.fadeInUp {*/
/*  -webkit-animation-name: fadeInUp;*/
/*  animation-name: fadeInUp;*/
/*}*/
/*.animated {*/
/*  -webkit-animation-duration: 1s;*/
/*  animation-duration: 1s;*/
/*  -webkit-animation-fill-mode: both;*/
/*  animation-fill-mode: both;*/
/*}*/
/** {*/
/*  -webkit-box-sizing: border-box;*/
/*  -moz-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/

/*div {*/
/*  display: block;*/
/*}*/
/*.style {*/
/*  visibility: visible;*/
/*  animation-duration: 2s;*/
/*  animation-delay: 0.2s;*/
/*  animation-name: fadeInUp;*/
/*}*/
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {*/
/*  position: relative;*/
/*  min-height: 1px;*/
/*  padding-right: 15px;*/
/*  padding-left: 15px;*/
/*}*/
/*.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {*/
/*  clear: both;*/
/*}*/
/*.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {*/
/*  display: table;*/
/*  content: " ";*/
/*}*/
/*:before, :after {*/
/*  -webkit-box-sizing: border-box;*/
/*  -moz-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/


/*.site-footer {*/
/*  padding: 7em 0;*/
/*  background: #f2f2f2;*/
/*  background: #283E56;*/
/*  color: rgba(255, 255, 255, 0.7);*/
/*}*/



/*@media (min-width: 576px)*/
/*  .container {*/
/*    max-width: 540px;*/
/*  }*/
/*  .container {*/
/*    width: 100%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*  }*/
/*  *, :after, :before {*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*  }*/

/*  div {*/
/*    display: block;*/
/*  }*/
/*  .site-footer {*/
/*    padding: 7em 0;*/
/*    background: #f2f2f2;*/
/*    background: #283E56;*/
/*    color: rgba(255, 255, 255, 0.7);*/
/*  }*/


/*  p {*/
/*    margin-top: 0;*/
/*    margin-bottom: 1rem;*/
/*  }*/


/*  p {*/
/*    display: block;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*  }*/
/*  .copyright {*/
/*    font-size: 14px;*/
/*  }*/
/*  .element-animate {*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*  }*/


/*  .owl-carousel.home-slider .slider-item {*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*    height: calc(100vh - 117px);*/
/*    min-height: 700px;*/
/*  }*/

/*////////////////////////////////////////////////////*/

.owl-carousel.home-slider {
  z-index: 1;
  position: relative;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}
body {
  background: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #868e96;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #5AC8D8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #5AC8D8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans", Arial, sans-serif;
  --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*/////////////////////////////////////////////////////*/
.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}
.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 18px;
  height: 18px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
  padding: 1px 6px;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}
user agent stylesheet
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}
user agent stylesheet
input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
}
user agent stylesheet
button {
  -webkit-appearance: button;
}
.owl-carousel .owl-dots {
  text-align: center;
}
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
body {
  background: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #868e96;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #5AC8D8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #5AC8D8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans", Arial, sans-serif;
  --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*///////////////////////////////////////////////////////*/

/*element.style {*/
/*}*/
/*.owl-carousel.home-slider .owl-dots .owl-dot {*/
/*  width: 18px;*/
/*  height: 18px;*/
/*  margin: 5px;*/
/*  border-radius: 50%;*/
/*  background: #e6e6e6;*/
/*  background: none;*/
/*  border: 2px solid rgba(255, 255, 255, 0.5);*/
/*  outline: none !important;*/
/*  position: relative;*/
/*  -webkit-transition: .3s all ease;*/
/*  -o-transition: .3s all ease;*/
/*  transition: .3s all ease;*/
/*}*/
/*.owl-carousel .owl-dots .owl-dot {*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  margin: 5px;*/
/*  border-radius: 50%;*/
/*  background: #e6e6e6;*/
/*}*/
/*.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {*/
/*  background: 0 0;*/
/*  color: inherit;*/
/*  border: none;*/
/*  padding: 0!important;*/
/*  font: inherit;*/
/*}*/
/*.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {*/
/*  cursor: pointer;*/
/*  cursor: hand;*/
/*  -webkit-user-select: none;*/
/*  -khtml-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*}*/
/*[type=reset], [type=submit], button, html [type=button] {*/
/*  -webkit-appearance: button;*/
/*}*/
/*button, select {*/
/*  text-transform: none;*/
/*}*/
/*button, input {*/
/*  overflow: visible;*/
/*}*/
/*button, input, optgroup, select, textarea {*/
/*  margin: 0;*/
/*  font-family: inherit;*/
/*  font-size: inherit;*/
/*  line-height: inherit;*/
/*}*/
/*button {*/
/*  border-radius: 0;*/
/*}*/
/*[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {*/
/*  -ms-touch-action: manipulation;*/
/*  touch-action: manipulation;*/
/*}*/
/**, :after, :before {*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/
/*user agent stylesheet*/
/*input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {*/
/*  padding: 1px 6px;*/
/*}*/
/*user agent stylesheet*/
/*input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {*/
/*  align-items: flex-start;*/
/*  text-align: center;*/
/*  cursor: default;*/
/*  color: buttontext;*/
/*  background-color: buttonface;*/
/*  box-sizing: border-box;*/
/*  padding: 2px 6px 3px;*/
/*  border-width: 2px;*/
/*  border-style: outset;*/
/*  border-color: buttonface;*/
/*  border-image: initial;*/
/*}*/
/*user agent stylesheet*/
/*input, textarea, select, button {*/
/*  text-rendering: auto;*/
/*  color: initial;*/
/*  letter-spacing: normal;*/
/*  word-spacing: normal;*/
/*  text-transform: none;*/
/*  text-indent: 0px;*/
/*  text-shadow: none;*/
/*  display: inline-block;*/
/*  text-align: start;*/
/*  margin: 0em;*/
/*  font: 400 13.3333px Arial;*/
/*}*/
/*user agent stylesheet*/
/*input, textarea, select, button, meter, progress {*/
/*  -webkit-writing-mode: horizontal-tb !important;*/
/*}*/
/*user agent stylesheet*/
/*button {*/
/*  -webkit-appearance: button;*/
/*}*/
/*.owl-carousel .owl-dots {*/
/*  text-align: center;*/
/*}*/
/*.owl-carousel, .owl-carousel .owl-item {*/
/*  -webkit-tap-highlight-color: transparent;*/
/*  position: relative;*/
/*}*/
/*body {*/
/*  background: #fff;*/
/*  font-family: "Open Sans", Arial, sans-serif;*/
/*  font-weight: 400;*/
/*  font-size: 16px;*/
/*  line-height: 1.8;*/
/*  color: #868e96;*/
/*}*/
/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
/*  font-size: 1rem;*/
/*  font-weight: 400;*/
/*  line-height: 1.5;*/
/*  color: #212529;*/
/*  text-align: left;*/
/*  background-color: #fff;*/
/*}*/
/*:root {*/
/*  --blue: #007bff;*/
/*  --indigo: #6610f2;*/
/*  --purple: #6f42c1;*/
/*  --pink: #e83e8c;*/
/*  --red: #dc3545;*/
/*  --orange: #fd7e14;*/
/*  --yellow: #ffc107;*/
/*  --green: #28a745;*/
/*  --teal: #20c997;*/
/*  --cyan: #5AC8D8;*/
/*  --white: #fff;*/
/*  --gray: #868e96;*/
/*  --gray-dark: #343a40;*/
/*  --primary: #007bff;*/
/*  --secondary: #868e96;*/
/*  --success: #28a745;*/
/*  --info: #5AC8D8;*/
/*  --warning: #ffc107;*/
/*  --danger: #dc3545;*/
/*  --light: #f8f9fa;*/
/*  --dark: #343a40;*/
/*  --breakpoint-xs: 0;*/
/*  --breakpoint-sm: 576px;*/
/*  --breakpoint-md: 768px;*/
/*  --breakpoint-lg: 992px;*/
/*  --breakpoint-xl: 1200px;*/
/*  --font-family-sans-serif: "Open Sans", Arial, sans-serif;*/
/*  --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;*/
/*}*/
/*html {*/
/*  font-family: sans-serif;*/
/*  line-height: 1.15;*/
/*  -webkit-text-size-adjust: 100%;*/
/*  -ms-text-size-adjust: 100%;*/
/*  -ms-overflow-style: scrollbar;*/
/*  -webkit-tap-highlight-color: transparent;*/
/*}*/
/**, :after, :before {*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/
/**, :after, :before {*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/
img {
  vertical-align: middle;
}
img {
  border: 0;
}

          img {
            vertical-align: middle;
            border-style: none;
          }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

          *, *::before, *::after {
            box-sizing: border-box;
          }
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

          body {
            font-size: 14px;
            color: #575962;
          }

          body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: 'nunito', sans-serif;
          }

          body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
          }

          :root {
            --blue: #007bff;
            --indigo: #6610f2;
            --purple: #6f42c1;
            --pink: #e83e8c;
            --red: #dc3545;
            --orange: #fd7e14;
            --yellow: #ffc107;
            --green: #28a745;
            --teal: #20c997;
            --cyan: #17a2b8;
            --white: #fff;
            --gray: #6c757d;
            --gray-dark: #343a40;
            --primary: #007bff;
            --secondary: #6c757d;
            --success: #28a745;
            --info: #17a2b8;
            --warning: #ffc107;
            --danger: #dc3545;
            --light: #f8f9fa;
            --dark: #343a40;
            --breakpoint-xs: 0;
            --breakpoint-sm: 576px;
            --breakpoint-md: 768px;
            --breakpoint-lg: 992px;
            --breakpoint-xl: 1200px;
            --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
          }
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

          html {
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -ms-overflow-style: scrollbar;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          }
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

          *, *::before, *::after {
            box-sizing: border-box;
          }
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

          *, *::before, *::after {
            box-sizing: border-box;
          }
