<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="stylesheet_task2.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="fixed bottom">
    <div style="background-color: #C0C0C0;">
      <div class="container">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="#!">Home</a></li>
            <li><a href="#!">About</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5>Address</h5>
          <ul class="list-unstyled">
            <li> Sharqiah Eygpt</li>
            <li><i class="fa fa-whatsapp">: +201147700904(WhatsApp only)</i></li>
            <li><i class="fa fa-envelope">:</i><a href="#!"> medicalhospital39@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-google-plus-square" style="font-size:36px;color:red"></i>
              <i class="fa fa-facebook-square" style="font-size:36px;color:Darkblue"></i>
              <i class="fa fa-linkedin-square" style="font-size:36px;color:Steelblue"></i>
              <i class="fa fa-twitter-square" style="font-size:36px;color:Royalblue"></i>
              <i class="fa fa-youtube-square" style="font-size:36px;color:red"></i>
              <i class="fa fa-envelope-o" style="font-size:24px;color:Mediumslateblue"></i>
            </li>
            <li>Designed By:the admins© 2018.</li>
            <li> Special Thanks to <a href="#!"> travesy media </a> and <a href="#!"> W3schools </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>




<!--<footer class="footer fixed-bottom">-->
<!--  <div class="container-fluid">-->
<!--    <nav class="pull-left">-->
<!--      <ul class="nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLinkActive="active" [routerLink]="[ROUTES.HOME]">-->
<!--            {{'footer.buttons.home' | translate}}-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item ml-3">-->
<!--          <a class="nav-link" routerLinkActive="active" [routerLink]="[ROUTES.LOGIN]">-->
<!--            {{'footer.buttons.login' | translate}}-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item ml-3">-->
<!--          <a class="nav-link" routerLinkActive="active" [routerLink]="[ROUTES.REGISTER]">-->
<!--            {{'footer.buttons.register' | translate}}-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--    <div class="copyright ml-auto">-->
<!--      {{'footer.copyrights' | translate}}-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->














<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
