<section class="section bg-light">
  <div class="container diagnosis-padding">
    <div class="row">
      <div class="col-10">
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <h3 class="col-form-label">Measurements: </h3>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Temperature: </label>
            <div>38 C</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Heart beat: </label>
            <div>63</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Blood pressure: </label>
            <div>87 / 123</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <h3 class="col-form-label">Periodic check: </h3>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Doctor date: </label>
            <div>2019-12-20</div>
          </div>
        </div>
        <div class="label-detail d-flex align-items-center">
          <div class="two-col d-flex align-items-center">
            <label class="col-form-label">Comment: </label>
            <div>Needs more rest</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
