<!--&lt;!&ndash;<div class="slideshow-container">&ndash;&gt;-->
<!--&lt;!&ndash;////////////////////////////////////////////////////&ndash;&gt;-->
<!--  &lt;!&ndash; Full-width images &ndash;&gt;-->
<!--&lt;!&ndash;////////////////////&ndash;&gt;-->
<!--  <div class="body-background body-background&#45;&#45;image">-->


<!--    <img src="assets/img/slider-2.jpg" alt="12 Best Hospital and Healthcare Websites.jpg" rel="noshare">-->

<!--  </div>-->
<!--&lt;!&ndash;//////////////////////&ndash;&gt;-->
<!--&lt;!&ndash;////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--    &lt;!&ndash;% image "executive_image" label="Featured Image", alt="", src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/blog/media/background-article.jpg" %&ndash;&gt;-->

<!--  &lt;!&ndash;<div class="mySlides fade">&ndash;&gt;-->

<!--&lt;!&ndash;    <img src="../images/profile.jpg" style="width:100%" >&ndash;&gt;-->

<!--  &lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;/////////////////////////&ndash;&gt;-->
<!--<section class="home-slider owl-carousel">-->
<!--  <div class="slider-item" style="background-image: url('../img/slider-2.jpg');">-->

<!--    <div class="container">-->
<!--      <div class="row slider-text align-items-center">-->
<!--        <div class="col-md-7 col-sm-12 element-animate">-->
<!--          <h1>We Care For You</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--  <div class="slider-item" style="background-image: url('img/slider-1.jpg');">-->
<!--    <div class="container">-->
<!--      <div class="row slider-text align-items-center">-->
<!--        <div class="col-md-7 col-sm-12 element-animate">-->
<!--          <h1>We Provide Health Care Solutions</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--</section>-->



