<!--<div class="slideshow-container">-->
<!--////////////////////////////////////////////////////-->
  <!-- Full-width images -->
  <div class="body-background body-background--image">


    <img src="img/slider-2.jpg" alt="12 Best Hospital and Healthcare Websites.jpg" rel="noshare">

  </div>
<!--////////////////////////////////////////////////////////////////////////-->
    <!--% image "executive_image" label="Featured Image", alt="", src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/blog/media/background-article.jpg" %-->

  <!--<div class="mySlides fade">-->

    <!--<img src="images/profile.jpg" style="width:100%" >-->

  <!--</div>-->

<!--</div>-->




