<section class="section bg-light">
  <div class="container">
    <div class="width">
      <div class="media d-block media-custom text-center">
        <img src="assets/img/ahmed.jpg" alt="Image Placeholder" class="img-fluid">
        <div class="media-body">
          <h3 class="mt-0 text-black">Mr. Patient</h3>
        </div>
      </div>
    </div>
    <div class="width">
      <div class="media d-block media-custom text-center">
        <img src="assets/img/enas.jpg" alt="Image Placeholder" class="img-fluid">
        <div class="media-body">
          <h3 class="mt-0 text-black">Mr. Patient</h3>
        </div>
      </div>
    </div>
    <div class="width">
      <div class="media d-block media-custom text-center">
        <img src="assets/img/omar.jpg" alt="Image Placeholder" class="img-fluid">
        <div class="media-body">
          <h3 class="mt-0 text-black">Mrs. Patient</h3>
        </div>
      </div>
    </div>
    <div class="width">
      <div class="media d-block media-custom text-center">
        <img src="assets/img/aya.jpg" alt="Image Placeholder" class="img-fluid">
        <div class="media-body">
          <h3 class="mt-0 text-black">Ms. Patient</h3>
        </div>
      </div>
    </div>
  </div>
</section>
