
<!--&lt;!&ndash;<section class="home-slider owl-carousel">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="slider-item" style="background-image: url('../frontend/src/assets/img/slider-2.jpg');">&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row slider-text align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-7 col-sm-12 element-animate">&ndash;&gt;-->
<!--&lt;!&ndash;          <h1>We Care For You</h1>&ndash;&gt;-->
<!--&lt;!&ndash;          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="slider-item" style="background-image: url('../frontend/src/assets/img/slider-1.jpg');">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row slider-text align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-7 col-sm-12 element-animate">&ndash;&gt;-->
<!--&lt;!&ndash;          <h1>We Provide Health Care Solutions</h1>&ndash;&gt;-->
<!--&lt;!&ndash;          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--///////////////////////////////////////////////////////////////////////////////////-->

<!--<div class="owl-item active" style="width: 903.2px; margin-right: 10px;">-->
<!--  <div class="slider-item" style="background-image: url('../frontend/src/assets/img/slider-2.jpg');">-->

<!--  <div class="container">-->
<!--    <div class="row slider-text align-items-center">-->
<!--      <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">-->
<!--        <h1>Contact Us</h1>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div></div>-->
<!--///////////////////////////////////////////////////////////////-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;<div class="slider-item" style="background-image: url('img/slider-2.jpg');">&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="row slider-text align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">&ndash;&gt;-->
<!--&lt;!&ndash;        <h1>Contact Us</h1>&ndash;&gt;-->
<!--&lt;!&ndash;        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--/////////////////////////////////////////////////////////////-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;<div class="limiter">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="container-login100" style="background-image: url('../frontend/src/assets/img/slider-2.jpg');">&ndash;&gt;-->
<!--    &lt;!&ndash;<div class="wrap-login100 p-t-30 p-b-50">-->
<!--				<span class="login100-form-title p-b-41">&ndash;&gt;-->
<!--					&lt;!&ndash;Account Login&ndash;&gt;-->
<!--				&lt;!&ndash;</span>&ndash;&gt;-->
<!--      &lt;!&ndash;<form [formGroup]="formData" class="login100-form validate-form p-b-33 p-t-5">&ndash;&gt;-->
<!--        &lt;!&ndash;<div class="form-group">&ndash;&gt;-->
<!--          &lt;!&ndash;<div class="wrap-input100 validate-input" data-validate = "Enter username">&ndash;&gt;-->
<!--            &lt;!&ndash;<input class="input100" type="text" name="username" placeholder="User name"&ndash;&gt;-->
<!--  &lt;!&ndash;class="form-control" formControlName="username">&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;&lt;!&ndash;[ngClass]="{'has-error has-feedback': formData.get('username').invalid}">&ndash;&gt;>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;<span class="focus-input100" data-placeholder="&#xe82a;"></span>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;<small class="form-text text-muted"&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;*ngIf="formData.get('username').hasError('required')">&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;User Name is mandatory.&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;</small>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;<small class="form-text text-muted"&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;*ngIf="formData.get('username').hasError('maxlength')">&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;User Name can't exceed 25 characters.&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;</small>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;<small class="form-text text-muted"&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;*ngIf="formData.get('username').hasError('minlength')">&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;User Name can't be less than 5 characters.&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;</small>&ndash;&gt;&ndash;&gt;-->
<!--          &lt;!&ndash;</div>&ndash;&gt;-->

<!--          &lt;!&ndash;<div class="wrap-input100 validate-input" data-validate="Enter password">&ndash;&gt;-->
<!--            &lt;!&ndash;<input class="input100" type="password" name="pass" placeholder="Password"&ndash;&gt;-->
<!--                   &lt;!&ndash;class="form-control" formControlName="password">&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;[ngClass]="{'has-error has-feedback': formData.get('password').invalid}"&ndash;&gt;&ndash;&gt;-->

<!--            &lt;!&ndash;&lt;!&ndash;<span class="focus-input100" data-placeholder="&#xe80f;"></span>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;<small class="form-text text-muted"&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;*ngIf="formData.get('password').hasError('required')">&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;Password is mandatory.&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;</small>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;<small class="form-text text-muted"&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;*ngIf="formData.get('password').hasError('minlength')">&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;Password can't be less than 7 characters.&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;</small>&ndash;&gt;&ndash;&gt;-->
<!--          &lt;!&ndash;</div>-->
<!--        </div>&ndash;&gt;-->


<!--        &lt;!&ndash;<div class="container-login100-form-btn m-t-32">&ndash;&gt;-->
<!--          &lt;!&ndash;<button class="login100-form-btn" (click)="login()">&ndash;&gt;-->
<!--            &lt;!&ndash;Login&ndash;&gt;-->
<!--          &lt;!&ndash;</button>&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->

<!--     &lt;!&ndash; </form>&ndash;&gt;-->
<!--    &lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;<div id="dropDownSelect1"></div>&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--////////////////////////////////////////////////////////////////////-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;<section id="intro" class="intro">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="intro-content">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-lg-6">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="h-ultra">Medicio medical group</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">&ndash;&gt;-->
<!--&lt;!&ndash;            <h4 class="h-light">Provide best quality healthcare for you</h4>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="well well-trans">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="wow fadeInRight" data-wow-delay="0.1s">&ndash;&gt;-->

<!--&lt;!&ndash;              <ul class="lead-list">&ndash;&gt;-->
<!--&lt;!&ndash;                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Affordable monthly premium packages</strong><br />Lorem ipsum dolor sit amet, in verterem persecuti vix, sit te meis</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Choose your favourite doctor</strong><br />Lorem ipsum dolor sit amet, in verterem persecuti vix, sit te meis</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Only use friendly environment</strong><br />Lorem ipsum dolor sit amet, in verterem persecuti vix, sit te meis</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;              </ul>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="text-right wow bounceIn" data-wow-delay="0.4s">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#" class="btn btn-skin btn-lg">Learn more <i class="fa fa-angle-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;              </p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->


<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-lg-6">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="img/img-1.png" class="img-responsive" alt="" />&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--&lt;!&ndash;//////////////////////////////////////////////////////////////&ndash;&gt;-->



<!--<section class="home-slider owl-carousel">-->
<!--  <div class="slider-item" style="background-image: url('../frontend/src/assets/img/slider-2.jpg');">-->

<!--    <div class="container">-->
<!--      <div class="row slider-text align-items-center">-->
<!--        <div class="col-md-7 col-sm-12 element-animate">-->
<!--          <h1>We Care For You</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--  <div class="slider-item" style="background-image: url('../frontend/src/assets/img/slider-1.jpg');">-->
<!--    <div class="container">-->
<!--      <div class="row slider-text align-items-center">-->
<!--        <div class="col-md-7 col-sm-12 element-animate">-->
<!--          <h1>We Provide Health Care Solutions</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<div class="body-background body-background--image">


  <img src="assets/img/slider-2.jpg" alt="12 Best Hospital and Healthcare Websites.jpg" rel="noshare">

</div>

<!--</section>-->
