<section class="section custom-tabs">
  <div class="container">
    <div class="row">

      <div class="col-md-3 border-right">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span>01</span> Robots</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span>02</span> Doctors</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>03</span> Patients</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span>04</span> Visitors</a>
          <a class="nav-link" [attr.href]="'http://127.0.0.1:3030'"><span>05</span> Data Analysis</a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <div class="tab-content" id="v-pills-tabContent">
          <!--<div class="tab-pane fade" id="v-pills-analysis" role="tabpanel" aria-labelledby="v-pills-dataAnalysis-tab">-->
            <!--<a [attr.href]="'http://127.0.0.1:3030'">Go</a>-->
          <!--</div>-->

          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <!--<span class="icon flaticon-hospital"></span>-->
            <div class="container">
              <h2 class="text-primary">Robots</h2>
              <button class="btn btn-primary btn-lg">Add Robot</button>
              <div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/robot.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">PayMax</h3>
                    </div>
                  </div>
                </div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/robot.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Hoky</h3>
                    </div>
                  </div>
                </div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/robot.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Foky</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <!--<span class="icon flaticon-first-aid-kit"></span>-->
            <div class="container">
              <h2 class="text-primary">Doctors</h2>
              <button class="btn btn-primary btn-lg">Add Doctor</button>
              <div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/doctor1.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Mr. Doctor</h3>
                    </div>
                  </div>
                </div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/doctor2.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Mr. Doctor</h3>
                    </div>
                  </div>
                </div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/doctor3.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Mrs. Doctor</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <!--<span class="icon flaticon-hospital-bed"></span>-->
            <div class="container">
              <h2 class="text-primary">Patients</h2>
              <button class="btn btn-primary btn-lg">Add Patient</button>
              <div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/aya.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Mr. Patient</h3>
                    </div>
                  </div>
                </div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/omar.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Mr. Patient</h3>
                    </div>
                  </div>
                </div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/ahmed.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Mrs. Patient</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <!--<span class="icon flaticon-doctor"></span>-->
            <div class="container">
              <h2 class="text-primary">Visitors</h2>
              <button class="btn btn-primary btn-lg">Add Visitor</button>
              <div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/visitor2.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Mr. Visitor</h3>
                    </div>
                  </div>
                </div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/visitor2.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Mr. Visitor</h3>
                    </div>
                  </div>
                </div>
                <div class="width">
                  <div class="media d-block media-custom text-center">
                    <img src="assets/img/visitor2.jpg" alt="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                      <h3 class="mt-0 text-black">Mrs. Visitor</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>
