<!--&lt;!&ndash;<nav class="navbar navbar-default" role="navigation">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="navbar-header">&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="navbar-collapse collapse">&ndash;&gt;-->
<!--&lt;!&ndash;    <ul class="nav navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <ul class="nav navbar-nav navbar-center">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <li><h1><a href="#">HAKEIM</a></h1></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </ul>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    <ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    <ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->


<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->

<!--&lt;!&ndash;/////////////////////////////&ndash;&gt;-->
<!--<header role="banner" >-->
<!--  <div class="top-bar" bac>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-6 col-sm-6 col-5">-->
<!--          <ul class="social list-unstyled">-->
<!--            <li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--            <li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--            <li><a href="#"><span class="fa fa-instagram"></span></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="navbar-collapse collapse">-->
<!--&lt;!&ndash;          <ul class="nav navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="nav navbar-nav navbar-center">&ndash;&gt;-->
<!--&lt;!&ndash;            <li><h1><a href="#">HAKEIM</a></h1></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
<!--          </ul>-->
<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
<!--          </ul>-->
<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
<!--          </ul>-->

<!--        </div>-->
<!--&lt;!&ndash;                <div class="col-md-6 col-sm-6 col-7 text-right">&ndash;&gt;-->
<!--&lt;!&ndash;                  <p class="mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;          <ul class="nav navbar-nav navbar-right">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;          </ul>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;          ///////////////////////////////////&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"&ndash;&gt;-->
<!--&lt;!&ndash;                       [routerLink]="['/login']">Login</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"&ndash;&gt;-->
<!--&lt;!&ndash;                       [routerLink]="['/home']">Logout</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    //////////////////////////&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment">create&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;              <div class="dropdown">&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash;              <div class="dropdown-content">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <ul>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                  <li><a href="#" [routerLink]="['/user/new']" >user</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                  <li><a href="#" [routerLink]="['/robot/new']" >robot</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                </ul>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;              </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;            </a>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash;          </p>&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;        &lt;!&ndash;            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment">create</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;////////////////////////////////////////////&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                              <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"&ndash;&gt;-->
<!--&lt;!&ndash;                       [routerLink]="['/user/new']" >create</a>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;          ////////////////////////////////&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;          <div class="collapse navbar-collapse" id="navbarsExample05">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;            <ul class="navbar-nav ml-auto">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;              <li class="nav-item dropdown">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                <div class="dropdown-menu" aria-labelledby="dropdown04">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                  <a class="dropdown-item" href="#">Institute</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                  <a class="dropdown-item" href="#">Departments</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                  <a class="dropdown-item" href="services.html">Services</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash;              </li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;            </ul>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  </p>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentRoute == '' || currentRoute == '/home'">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" routerLink="/home">HAKEIM</a>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" routerLink="/home">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="dropdown04">-->
<!--              <a class="dropdown-item" href="#">Institute</a>-->
<!--              <a class="dropdown-item" href="#">Departments</a>-->
<!--              <a class="dropdown-item" href="services.html">Services</a>-->
<!--            </div>-->

<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="../doctors.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="dropdown05">-->
<!--              <a class="dropdown-item" href="../doctors.html">Find Doctors</a>-->
<!--              <a class="dropdown-item" href="#">Practitioner</a>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="news.html">News</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="about.html">About</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="contact.html">Contact</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="checkRoute('doctor')">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" routerLink="/home">HAKEIM</a>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" routerLink="/home">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" routerLink="/doctor/patients">My Patients</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" routerLink="/doctor/profile">My Profile</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="checkRoute('patient')">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" routerLink="/home">HAKEIM</a>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" routerLink="/home">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" routerLink="/patient/profile">My Profile</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
<!--&lt;!&ndash; END header &ndash;&gt;-->


<!--&lt;!&ndash;<header role="banner">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="top-bar">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-6 col-sm-6 col-5">&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="social list-unstyled">&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#"><span class="fa fa-facebook"></span></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#"><span class="fa fa-twitter"></span></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#"><span class="fa fa-instagram"></span></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-6 col-sm-6 col-7 text-right">&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment">Make an Appointment</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <nav class="navbar navbar-expand-lg navbar-light bg-light">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="navbar-brand" href="index.html">Medi<span>+</span>  </a>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="collapse navbar-collapse" id="navbarsExample05">&ndash;&gt;-->
<!--&lt;!&ndash;        <ul class="navbar-nav ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link" href="index.html">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="dropdown-menu" aria-labelledby="dropdown04">&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="dropdown-item" href="#">Institute</a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="dropdown-item" href="#">Departments</a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="dropdown-item" href="services.html">Services</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link dropdown-toggle" href="doctors.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="dropdown-menu" aria-labelledby="dropdown05">&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="dropdown-item active" href="doctors.html">Find Doctors</a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="dropdown-item" href="#">Practitioner</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link" href="news.html">News</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link" href="about.html">About</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link" href="contact.html">Contact</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </nav>&ndash;&gt;-->
<!--&lt;!&ndash;</header>&ndash;&gt;-->




<!--////////////////////////////////////////////////////////////////-->
<!--<div class="navbar">-->
<!--  <a href="#home">Home</a>-->
<!--  <a href="#news">News</a>-->
<!--  <div class="dropdown">-->
<!--    <button class="dropbtn">Dropdown-->
<!--      <i class="fa fa-caret-down"></i>-->
<!--    </button>-->
<!--    <div class="dropdown-content">-->
<!--      <a href="#">Link 1</a>-->
<!--      <a href="#">Link 2</a>-->
<!--      <a href="#">Link 3</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<header role="banner">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-5">
          <ul class="social list-unstyled">
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>

        <div class="col-md-6 col-sm-6 col-7 text-right">
          <p class="mb-0">
            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"
               [routerLink]="['/login']">  Login  </a>
            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"
               [routerLink]="['/home']">   Logout  </a>
            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"
               [routerLink]="['/user/new']" > create user</a>
            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"
               [routerLink]="['/robot/new']" > create robot</a>
          </p>
        </div>
      </div>
    </div>
  </div>
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentRoute == '' || currentRoute == '/robot/new'|| currentRoute == '/home/page'|| currentRoute == '/home'||currentRoute == '/user/new'">-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentRoute == '' ||currentRoute == '/patient/profile' ||currentRoute == '/user/doctor' || currentRoute == '/robot/new'|| currentRoute == '/home/page'|| currentRoute == '/home'||currentRoute == '/user/new'||currentRoute == '/user/done'||currentRoute == '/home'||currentRoute == '/services'||currentRoute == '/doctors'||currentRoute == '/about'||currentRoute == '/contact'||currentRoute == '/news'||currentRoute == '/visitor/profile'||currentRoute == '/visitor'||currentRoute == '/login'||currentRoute == '/robot/done'">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">HAKEIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
<!--            <a class="nav-link active" routerLink="/home/page">Home</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctors">Doctors</a>
          </li>


<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="dropdown04">-->
<!--              <a class="dropdown-item" href="#">Institute</a>-->
<!--              <a class="dropdown-item" href="#">Departments</a>-->
<!--              <a class="dropdown-item" href="services.html">Services</a>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" routerLink="/doctors" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="dropdown05">-->
<!--              <a class="dropdown-item" routerLink="/doctors">Find Doctors</a>-->
<!--              <a class="dropdown-item" href="#">Practitioner</a>-->
<!--            </div>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">>
              <a class="dropdown-item" routerLink="/user/new">User</a>
              <a class="dropdown-item" routerLink="/robot/new">Robot</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="checkRoute('doctor')">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">HAKEIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
<!--            <a class="nav-link active" routerLink="/home/page">Home</a>-->
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctor/patients">My Patients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctor/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/patient/list">Search Page</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="checkRoute('patient')">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">HAKEIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
<!--            <a class="nav-link active" routerLink="/home/page">Home</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/patient/profile">My Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="checkRoute('visitor')">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">HAKEIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
<!--            <a class="nav-link active" routerLink="/home/page">Home</a>-->
            <a class="nav-link active" routerLink="/home">Home</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/visitor/profile">My Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- END header -->


<!--<header role="banner">-->
<!--  <div class="top-bar">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-6 col-sm-6 col-5">-->
<!--          <ul class="social list-unstyled">-->
<!--            <li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--            <li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--            <li><a href="#"><span class="fa fa-instagram"></span></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-sm-6 col-7 text-right">-->
<!--          <p class="mb-0">-->
<!--            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment">Make an Appointment</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" href="index.html">Medi<span>+</span>  </a>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      <div class="collapse navbar-collapse" id="navbarsExample05">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="index.html">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="dropdown04">-->
<!--              <a class="dropdown-item" href="#">Institute</a>-->
<!--              <a class="dropdown-item" href="#">Departments</a>-->
<!--              <a class="dropdown-item" href="services.html">Services</a>-->
<!--            </div>-->

<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="doctors.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="dropdown05">-->
<!--              <a class="dropdown-item active" href="doctors.html">Find Doctors</a>-->
<!--              <a class="dropdown-item" href="#">Practitioner</a>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="news.html">News</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="about.html">About</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="contact.html">Contact</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
