<header role="banner">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-5">
          <ul class="social list-unstyled">
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-7 text-right">
          <p class="mb-0">
            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"
               [routerLink]="['/login']">Login</a>
            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"
               [routerLink]="['/home']">Logout</a>
<!--            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment">create-->
<!--              <div class="dropdown">-->

<!--              <div class="dropdown-content">-->
<!--                <ul>-->
<!--                  <li><a href="#" [routerLink]="['/user/new']" >user</a></li>-->
<!--                  <li><a href="#" [routerLink]="['/robot/new']" >robot</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--            </a>-->

<!--          </p>-->


<!--            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment">create</a>-->
            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"
               [routerLink]="['/user/new']" >create</a>
<!--          <div class="collapse navbar-collapse" id="navbarsExample05">-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--              <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>-->
<!--                <div class="dropdown-menu" aria-labelledby="dropdown04">-->
<!--                  <a class="dropdown-item" href="#">Institute</a>-->
<!--                  <a class="dropdown-item" href="#">Departments</a>-->
<!--                  <a class="dropdown-item" href="services.html">Services</a>-->
<!--                </div>-->

<!--              </li>-->
<!--            </ul>-->
<!--        </div>-->
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentRoute == '' || currentRoute == '/home'">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">HAKEIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="#">Institute</a>
              <a class="dropdown-item" href="#">Departments</a>
              <a class="dropdown-item" href="services.html">Services</a>
            </div>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../doctors.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="../doctors.html">Find Doctors</a>
              <a class="dropdown-item" href="#">Practitioner</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="news.html">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="checkRoute('doctor')">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">HAKEIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctor/patients">My Patients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctor/profile">My Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="checkRoute('patient')">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">HAKEIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/patient/profile">My Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="checkRoute('visitor')">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">HAKEIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [id]="'navbarsExample05'">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/visitor/profile">My Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- END header -->


<!--<header role="banner">-->
<!--  <div class="top-bar">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-6 col-sm-6 col-5">-->
<!--          <ul class="social list-unstyled">-->
<!--            <li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--            <li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--            <li><a href="#"><span class="fa fa-instagram"></span></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-sm-6 col-7 text-right">-->
<!--          <p class="mb-0">-->
<!--            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment">Make an Appointment</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" href="index.html">Medi<span>+</span>  </a>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      <div class="collapse navbar-collapse" id="navbarsExample05">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="index.html">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="dropdown04">-->
<!--              <a class="dropdown-item" href="#">Institute</a>-->
<!--              <a class="dropdown-item" href="#">Departments</a>-->
<!--              <a class="dropdown-item" href="services.html">Services</a>-->
<!--            </div>-->

<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="doctors.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="dropdown05">-->
<!--              <a class="dropdown-item active" href="doctors.html">Find Doctors</a>-->
<!--              <a class="dropdown-item" href="#">Practitioner</a>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="news.html">News</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="about.html">About</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="contact.html">Contact</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
